/**
   This is a template file which you can use to redefine the Liferea
   CSS definitions use to render items. Below you find empty class
   definitions including comments describing what they are used for.

   Before you start customizing...

   Reloading:
   ==========

   For performance reasons Liferea will read this CSS file only
   on startup. So when you modify it please restart Liferea for
   changes to take effect.


   About Font Definitions:
   =======================

   You should avoid setting absolute font sizes. This allows Liferea
   to follow the GNOME font and font size. Use relative definitions
   instead (e.g. "1.2em" or "0.8em").


   Inspecting the HTML:
   ====================

   If the definitions below do not help you, run Liferea with
   the parameter "--debug-html". Then Liferea will dump HTML
   into

          ~/.cache/liferea/output.xhtml

   each time it renders an item or a feed. So you can check for
   style classes and the layout you want to affect.

 */

/* color definitions */
//:root {
//  --text-color: rgb(51, 51, 51);
//  --text-color-light: rgb(120, 120, 120);
//  --primary: rgb(28, 118, 228);
//  --body-bg: #fff;
//  --box-bg: rgba(135, 135, 135, 0.085);
//  --box-radius: 0.35rem;
//  --box-padding: 0.75rem 1.5rem;
//  --box-margin: 0.75rem 0;
//  --box-text-color: #111;
//
//  --error-bg: #ffa;
//
//  --body-font-family: "Red Hat Text",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//  --body-font-scale: 0.95;
//  --body-font-size: calc(var(--body-font-scale) * clamp(16px, 1vw, 18px));
//  --body-font-weight: normal;
//
//  --preferred-content-width: 90ch; /* The preferred width for the readable content */
//}

/* dark style overrides */
//@media (prefers-color-scheme: dark) {
//  :root {
//    --text-color: #f6f6f6;
//    --text-color-light: #bbb;
//    --primary: rgb(144, 194, 255);
//    --body-bg: #121212;
//    --box-bg: rgba(135, 135, 135, 0.1);
//    --box-text-color: #fff;
//    color-scheme: dark;
//  }
//}

/* feed/item display containing favicon */
// a.favicon { }
// a.favicon img { }

/* Header fields for different item metadata */
// .author, .categories, .source { }
// .date { }

/* Image resizing to fit HTML view */
// section, div.content svg, div.content * img { }

/* Resizing for video embeds */
// figure, iframe { }

/* Item/feed description */
// div.content { }

/* Comment rendering */
// div.comment { }
// div.comment_body { }
// div.comment_title { }

/* Styles for the feed fetch error box at the beginning
   of the feed description and for item comment feeds */
// #errors { }
// pre.errorOutput { }

/* Embedded video styles */
// #enclosureVideo select,
// #enclosureAudio select { }

// #enclosureVideo select option,
// #enclosureAudio select option { }

/* namespace specific styles */

/* Gravatar embedding */
// img.gravatar { }

/* OpenStreeMap embedded map*/
// #map img { }

/* Slashdot Header */
// .slash { }
// .slashSection, .slashDepartment { }
// .slashValue { }
