.deps
*.a
*.gmo
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
liferea.desktop
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/dbus_wrap.c
src/liferea
src/liferea-add-feed
xslt/*.xml

