.deps
*.a
*.gmo
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
liferea.appdata.xml
liferea.desktop
ltmain.sh
missing
stamp-h1
net.sf.liferea.gschema.valid
net.sf.liferea.gschema.xml
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/dbus_wrap.c
src/liferea
src/liferea-add-feed
src/Liferea-3.0.gir
src/Liferea-3.0.typelib
xslt/*.xml

