[Desktop Entry]
Name=Liferea Feed Reader
Name[de]=Liferea Feed Reader
GenericName=Feed Reader
Comment=Download and view feeds
Comment[de]=Anzeigen von News-Feeds
Exec=liferea
Icon=liferea.png
StartupNotify=false
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Network;
Version=0.9.4
