[Desktop Entry]
Encoding=UTF-8
Name=Liferea
GenericName=Feed Reader
Comment=Download and view feeds
Exec=liferea
Icon=liferea.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Network;
Version=0.9.4
