header {
	border-bottom: 2px dotted;
}

footer {
	border-top: 2px dotted;
}

nav a {
	display: block;
	white-space: nowrap;
	padding: 0.5em;
	cursor: pointer;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	text-decoration: underline;
}

nav ul li {
	margin: 0.3em;
}

table.reftable {
	border: 1px solid black;
	border-collapse: collapse;
}

table.reftable tr td {
	border: 1px solid black;
}

td.topcenter,
td.bottomcenter {
	text-align: center;
}

td.ptitle h1 {
	font-weight: bold;
	font-size: larger;
	margin: auto;
}

td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

nav td a:hover {
	background-color: whitesmoke;
}

dt {
	 font-weight: bold;
}

.fullwidth {
	width: 100%;
}
